.input {
  margin: 4px 12px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 2px rgb(230, 230, 230) solid;
  transition: 120ms;

  &:hover {
    border: 2px rgb(255, 125, 205) solid;
    transition: 120ms;
  }

  &:focus {
    outline: none;
    border: 2px rgb(255, 125, 205) solid;
    transition: 120ms;
  }

  &[type='text'] {
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
      Helvetica, Arial, sans-serif;
    font-weight: 500;

    &:focus {
    }
  }
  &-edit {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
      Helvetica, Arial, sans-serif;
    text-align: left;
    word-wrap: normal;
    background: transparent;
    border: none;
    outline: 0;

    &:focus {
      outline: none;
    }

    &[type='date'] {
      font-weight: 500;
    }
  }
}
